@media only screen and (min-width: 1280px) {
  .questionsComponent {
    max-width: 821px;
    margin-left: auto;
    margin-right: auto;
  }
}

.questionnaireCard {
  background-color: #ffffff;

  box-shadow: 0 4px 15px 0 rgba(2, 23, 42, 0.1);

  padding: 40px 20px 76px 20px;

  margin-bottom: 20px;
}

.questionnaireCard {
  position: relative;
}

.questionnaireCardMinHeight {
  min-height: 456px;
}

@media only screen and (min-width: 768px) {
  .questionnaireCard {
    padding: 40px 27px 60px 27px;
  }
}

@media only screen and (min-width: 1280px) {
  .questionnaireCard {
    padding: 40px 86px 80px 87px;
  }
}

.questionNumberInfo {
  font-size: 10px;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .questionNumberInfo {
    font-size: 14px;
    line-height: 1.21;
  }
}

.questionNumber {
  color: #ff6b09;
  font-weight: 700;
}

.question {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 700;

  text-align: center;

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .question {
    font-size: 22px;
    line-height: 1.36;

    margin-bottom: 28px;
  }
}

.testForm {
  display: flex;
  flex-direction: column;

  padding-top: 32px;

  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;

    content: "";
    width: 130px;
    height: 1px;

    transform: translateX(-50%);

    background-color: rgba(0, 18, 47, 0.15);
  }
}

@media only screen and (min-width: 768px) {
  .testForm {
    padding-top: 40px;

    &::before {
      width: 336px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .testForm {
    padding-top: 32px;

    &::before {
      width: 322px;
    }
  }
}

.answerOptionsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .answerOptionsList {
    margin-left: 46px;
    margin-right: 46px;
  }
}

.answerOption {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 10px;
  letter-spacing: 0.02em;

  font-weight: 500;

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .answerOption {
    font-size: 16px;
  }
}

.customRadiobutton {
  display: block;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";

    width: 10px;
    height: 10px;

    border-radius: 50%;

    transform: translate(-50%, -50%);

    background-color: transparent;
  }

  .hiddenRadiobutton:checked + &::before {
    background-color: #ff6b09;
  }
}

.customRadiobuttonTransition {
  &::before {
    transition: background-color var(--transition-options);
  }
}

.nextPreviousButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.nextPreviousButton {
  display: flex;
  align-items: center;

  min-width: 55px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #ffffff;

  transition: background-color var(--transition-options),
    color var(--transition-options);

  font-size: 12px;
  line-height: 0.83;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    background-color: #ff6b09;
    color: #ffffff;
  }
}

.nextPreviousButton:nth-child(1) {
  padding-left: 14px;
  column-gap: 12px;
}

.nextPreviousButton:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: space-between;

  padding-right: 20px;
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  .nextPreviousButton {
    min-width: 210px;
    width: 210px;
  }
}

.previousButtonArrowIcon {
  transform: rotate(180deg);
}

.nextPreviousButton > svg {
  transition: fill var(--transition-options);
}

.nextPreviousButton:hover > svg,
.nextPreviousButton:focus > svg {
  fill: #ffffff;
}

.checkResultsButton {
  color: #ffffff;
  background-color: #02172a;

  padding: 5px 10px;

  transition: background-color var(--transition-options);

  &:hover,
  &:focus {
    background-color: #115173;
  }
}

@media only screen and (min-width: 768px) {
  .checkResultsButton {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .checkResultsButton {
    padding: 5px 40px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
