.section {
  padding-top: 32px;
  padding-bottom: 51px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-bottom: 65px;
  }
}

.resultsLabel {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;

  text-align: center;

  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .resultsLabel {
    font-size: 22px;
    line-height: 1.36;

    margin-bottom: 8px;
  }
}

.testTypeLabel {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}

@media only screen and (min-width: 768px) {
  .testTypeLabel {
    font-size: 14px;
    line-height: 1.22;
  }
}

.decorativeContainer {
  padding-bottom: 16px;

  margin-bottom: 18px;

  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    content: "";

    width: 130px;
    height: 1px;

    background-color: rgba(0, 18, 47, 0.15);
  }
}

@media only screen and (min-width: 768px) {
  .decorativeContainer {
    padding-bottom: 32px;

    margin-bottom: 40px;

    &::after {
      width: 336px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .decorativeContainer {
    &::after {
      width: 322px;
    }
  }
}

.pieChart {
  width: 156px;
  height: 156px;

  margin: 0 auto;

  background-color: orange;
  border-radius: 50%;

  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .pieChart {
    width: 285px;
    height: 285px;

    margin-bottom: 32px;
  }
}

.resultsList {
  display: flex;
  justify-content: center;
  column-gap: 20px;

  margin-bottom: 20px;

  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .resultsList {
    column-gap: 40px;

    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .resultsList {
    margin-bottom: 28px;
  }
}

.correctAnswersLabel {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: -10px;

    transform: translateY(-50%);

    content: "";

    width: 1px;
    height: 20px;

    background-color: rgba(0, 18, 47, 0.15);
  }
}

@media only screen and (min-width: 768px) {
  .correctAnswersLabel {
    &::after {
      right: -20px;
    }
  }
}

.boldNumbers {
  font-weight: 700;
}

.catImage {
  width: 120px;
  height: 120px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background-image: url("./images/png/cat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .catImage {
    width: 176px;
    height: 176px;

    margin-bottom: 8px;
  }
}

.resultInTextForm {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;

  text-align: center;

  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .resultInTextForm {
    font-size: 22px;
    line-height: 1.36;

    margin-bottom: 8px;
  }
}

.resultsComment {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-align: center;

  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .resultsComment {
    font-size: 20px;

    margin-bottom: 40px;
  }
}

.tryAgainButton {
  background-color: #ff6b09;
  color: #ffffff;

  width: 190px;
  min-width: 190px;

  padding-top: 17px;
  padding-bottom: 17px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .tryAgainButton {
    width: 182px;
    min-width: 182px;

    padding-top: 16px;
    padding-bottom: 15px;

    line-height: 1.22;
  }
}
